@import url('https://fonts.googleapis.com/css?family=Montserrat');

html body{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

ul{
    padding: 0;
}

.corpo{
    border-radius: 10px;
    height: 100%;
    box-shadow: 5px 9px 20px rgba(0,0,0,0.1);
}

.customTop{ 
    text-align: center;
    height: 70px;
    width: 100%;
    line-height: 70px;
    box-shadow: 0 8px 6px rgba(0,0,0,.1);
    
}

    .customTop a {
        text-decoration: none;
        color: #4B4B4B;
        font-size: 23px;
        margin: 0 10px;
    }

        .customTop a:hover {
            text-decoration: none;
            color: #FC6B3E;
        }

.ativo{
    color: #FC6B3E;
}

.link-hover{
    color: #FC6B3E;
    background-color: #fff;
}
    .link-hover:hover{
        color: #7b2100;
    }

.titulo{
    font-weight: 600;
    color: #FC6B3E;
    text-align: center;
    margin-top: 20px;
}

    #novaVenda a{
        text-decoration: none;
        color: #FC6B3E;
    }

    #novaVenda a:hover{
        text-decoration: none;
        color: #ce5a25;
    }


@media (min-width: 769px) {
    span.icon {
        display:none;
    }
    span.texto {
        display:inline-block;
    }
    #novaVenda{
        margin-top: 350px;
    }
}

@media screen and (max-width: 768px){

    .customTop{
        background-color: fff;
        position: fixed;
        bottom: 0px;
        margin-bottom: 0px;
        box-shadow: 0 -8px 6px rgba(0,0,0,.1);
    }
    
    span.icon a{
        display:inline-block;
        font-size: 40px;
        color: #4B4B4B;
        margin-right: 10%
    }
    span.texto {
        display:none;
    }
    
    #novaVenda{
        margin-top: 67%;
    
    }
}

